<footer class="py-1" style="background-color: #e95c39" data-bs-theme="dark">
  <ul class="nav w-100 justify-content-center border-bottom pb-1 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
    <li class="nav-item">
      <a href="products" class="nav-link px-2 text-body-secondary">Pricing</a>
    </li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
    <li class="nav-item"><a href="aboutUs" class="nav-link px-2 text-body-secondary">About</a></li>
  </ul>
  <p class="text-body-secondary text-sm-center">© 2025 Chillizone, Inc</p>
</footer>
