<div class="container">
  <div class="row">
    @for (product of products; track product.id) {
    <div class="col-lg-4 col-md-6 col-sm-12 mt-4 mb-4">
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 19rem">
          <img src="{{ product.imageUrl }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
              {{ product.description }}
            </p>

            <p class="rating">
              Rating: <span class="fw-bold">{{ product.rating }}</span>
            </p>
            <a href="" [routerLink]="'/detailPage/' + product.id">Details</a>
            @if (product.itemsInInventory > 0) {
            <div class="container justify-content-end">
              <a (click)="addToCart(product)" class="btn btn-primary">Add to Cart</a>
              <div class="align-items-center mx-2">
                <div class="price fw-bold text-danger">€{{ product.price }}</div>
              </div>
            </div>
            } @else {
            <h4>Not available</h4>
            }
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
